/* App */

position: relative;
width: 1536px;
height: 864px;

background: #FFFFFF;
box-shadow: 0px 2px 6.3px -1px rgba(0, 0, 0, 0.25);
border-radius: 16px;


/* Main */

position: absolute;
width: 1536px;
height: 864px;
left: 0px;
top: 0px;

background: rgba(0, 0, 0, 0.9);


/* Union */

position: absolute;
width: 1968px;
height: 1335px;
left: -157px;
top: -165px;

background: rgba(237, 201, 147, 0.44);
filter: blur(250px);


/* Ellipse 2 */

position: absolute;
width: 529px;
height: 483px;
left: -157px;
top: 687px;

background: rgba(237, 201, 147, 0.44);
filter: blur(250px);


/* Ellipse 1 */

position: absolute;
width: 725px;
height: 483px;
left: 1086px;
top: -165px;

background: rgba(237, 201, 147, 0.44);
filter: blur(250px);


/* Nav */

position: absolute;
height: 66px;
left: 52px;
right: 53px;
top: 44px;

background: rgba(0, 0, 0, 0.19);
box-shadow: 0px 0px 5.3px -1px rgba(0, 0, 0, 0.11);
border-radius: 11px;


/* Rectangle 1 */

position: absolute;
width: 982px;
height: 72px;
left: 285px;
top: 745px;

background: #D9D9D9;
opacity: 0.11;
border-radius: 50px;


/* Rectangle 2 */

position: absolute;
width: 141px;
height: 40px;
left: 1327px;
top: 57px;

background: rgba(255, 228, 198, 0.31);
border-radius: 5px;


/* Login / Signup */

position: absolute;
width: 118px;
height: 31px;
left: 1341px;
top: 62px;

font-family: 'Saira SemiCondensed';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 31px;

color: #FFFFFF;



/* image 1 */

position: absolute;
width: 49px;
height: 53px;
left: 69px;
top: 51px;

background: url(image);


/* Ellipse 3 */

position: absolute;
width: 53px;
height: 53px;
left: 1203px;
top: 754px;

background: rgba(217, 217, 217, 0.53);


/* Arrow right */

position: absolute;
width: 28px;
height: 28px;
left: 1216px;
top: 767px;



/* Icon */

position: absolute;
left: 20.83%;
right: 20.83%;
top: 20.83%;
bottom: 20.83%;

border: 2.5px solid #1E1E1E;
