h1{
 justify-self: center;
 font-family: Libre Baskerville;
}
.send{
      position: fixed;
    bottom: 20px;
    left: 57%;
    right: 20px;

    display: flex;
    gap: 10px;
    align-items: center;
}
#input{
    position: fixed;
    bottom: 20px;
    padding: 10px  12px;
    border-radius: 15px;
    border: 2px solid black;
    font-family: Libre Baskerville;
   
}

button{
    
    border-radius: 50%;
    border: 2px solid black;    
    position: fixed;
    bottom: 20px;
    padding: 8px;

}
#input:hover{
    padding:  12px 14px;
    transition-duration: 100ms ;
}
body{
    align-items: center;
    justify-content: center;
    display: flex;
}